body {
  margin: 0;
  background-color: hsl(30, 38%, 92%);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  top: 13.8%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;

  width: 20em;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;  
  position: relative;
  background-color: hsl(0, 0%, 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card .price {
  font-size: small;
  font-family: "Montserrat";
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  position: absolute;
  margin: 10px 0 0 25px;
}

button {
  height: 60px;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Montserrat";
  background-color: hsl(158, 36%, 37%);
  color: aliceblue;
  padding-right: 15px;
  cursor: pointer;
}

button,
img {
  background-image: url(images/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 55px;
}


button:hover {
  background-color: hsl(139, 67%, 20%);
  transition: 0.2s;
}

h1 {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 1em;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

h2 {
  display: inline-block;
  width: 190px;
  font-family: "Fraunces", "Franklin Gothic Medium", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
}

h3 {
  
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", "Franklin Gothic Medium", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

p {
  display: inline-block;
  width: 230px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8em;
  color: hsl(228, 12%, 48%);
  margin: 0;
}



.attribution {
  position: relative;
  top: 580px;
}



@media only screen and (max-device-width: 375px) {
  .menu {
    width: 395px;
    flex-direction: column-reverse;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    top: 0%;
    bottom: 0%;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 260px;

   
  }
  .image {
    display: flex;
    align-self: center;
    height: 24%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    object-fit: cover;
  }

  .card {
    width: 295px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  h2 {
    font-family: "Fraunces", "Franklin Gothic Medium", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    width: auto;
  }

  p {
    width: 21em;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8em;
    color: hsl(228, 12%, 48%);
    margin: 0;
  }

button{
  padding-left: 35px;

}

button, img {
  background-position: 80px;
}

  .attribution {
    position: relative;
    font-size: 10px;
    top: 950px;
    text-align: center;
  }

 
}
